In [32]:
import pandas as pd

# use pandas to read csv
data = pd.read_csv("budget_Test3.csv")
print(type(data))

data.head(3)
data.tail(2)
#basic statistical measure of all numeric fields in the data set
data.describe()
data

<class 'pandas.core.frame.DataFrame'>

  Title     Type  Budget        Date
0  Test   Income   234.0  02-02-2022
1   car  expense   234.0  03-02-2022
2  taxi   Income   546.0  05-05-2022
3  boat  Expense  2345.0  05-09-2022

In [34]:
#filtering the dataset
# get all the incomes

data[data['Type'] == 'Income']
data[data['Budget'] > 250 ]
data[data['Title'].str.startswith('c')]

  Title     Type  Budget        Date
1   car  expense   234.0  03-02-2022